<ion-header>
  <ion-toolbar>
    <ion-title>Trang chủ</ion-title>
    <ion-buttons slot="end" *ngIf="socketConnection?.isConnected">
      <ion-button color="{{socketConnection?.userInfo?'success':'secondary'}}" (click)="onClickUser()" shape="round">
        <ion-icon slot="{{isMobile?'icon-only':'start'}}" name="{{socketConnection.userInfo?'contact':'log-in'}}">
        </ion-icon>
        {{isMobile?'':socketConnection.userInfo?socketConnection.userInfo.nickname:'Login'}}
        <ion-badge *ngIf="socketConnection?.user_online && socketConnection?.userInfo?.role>0" color="danger">
          {{socketConnection?.user_online}}
        </ion-badge>
      </ion-button>
      <ion-button color="{{socketConnection?.device_online?'success':'medium'}}" (click)="onClickDevice()"
        shape="round">
        <ion-icon slot="icon-only" name="desktop"></ion-icon>
        <ion-badge *ngIf="socketConnection?.device_online && socketConnection?.userInfo?.role>0" color="danger">
          {{socketConnection?.device_online}}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Có thể tạo được ứng dụng trên ios và android?</strong>
    Liên kết này là trang chủ đây
  </div>
</ion-content>